  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Expected Patients" ng-model="searchExpected">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="form-group">
        <select class="form-control" ng-model="searchLocation">
          <option disabled value="">Search Locations</option>
          <option value="">All Locations</option>
          <option value="GS Emergency Department">Good Samaritan</option>
          <option value="PCF-Emergency Department">Chandler ED</option>
        </select>
      </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" value="Inactive" ng-model="searchInactive" ng-click="getExpectedPatients(searchInactive)">Show Inactive</label>
        </div>
      </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 pull-right">
    <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#editPatientModal" ng-click="newPatient()">Add New Patient
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
<table class="table table-bordered table-striped table-responsive">
  <th>
    Name
  </th>
  <th>
    Date of Birth
  </th>
  <th>
    Arriving From
  </th>
  <th>
    Expected Date/Time
  </th>
  <th>
    Complaint
  </th>
  <th>
    Physician
  </th>
  <th>
    Room
  </th>
  <th>
    Comments
  </th>
  <th></th>
  <th></th>
  <tr ng-repeat="patient in expectedPatients | orderBy:'Name' | filter:searchExpected | filter:searchLocation track by $index">
    <td>{{ patient.Name }}</td>
    <td>{{ patient.DOB | date:'shortDate'}}</td>
    <td>{{ patient.ArrivalFrom }}</td>
    <td>{{ patient.ExpectedDtm  | date:'short'}}</td>
    <td>{{ patient.ChiefComplaint}}</td>
    <td>{{ patient.PCP}}</td>
    <td>{{ patient.Location.Name}}</td>
    <td>{{ patient.Comment}}</td>
    <td class="edit-column">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editPatientModal" ng-click="editPatient(patient)">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </td>
    <td class="edit-column">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#arrivePatientModal" ng-click="editPatient(patient)">
        <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
</div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-center"><span class="glyphicon glyphicon-copyright-mark"></span> {{today | date: "y"}} UK HealthCare Information Technology Web Team</p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="arrivePatientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Arrival of {{openPatient.Name}}</h4>
      </div>
      <div class="modal-body">
        {{openPatient.Name}} arrived at {{ArrivalDtm | date:'MM/dd/yyyy @ h:mma'}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="arrivedPatient(patient)">Mark Arrived</button>
      </div>
    </div>
  </div>
</div>
<!--Edit Patient Modal -->
<div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Record for {{openPatient.Name}}</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading">Call Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <div class="dropdown">
                      <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                        <div class="input-group">
                          <span class="input-group-addon">Call Date</span>
                          <input type="text" class="form-control calendar-input" data-ng-model="openPatient.CallDtm"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="openPatient.CallDtm" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
                      </ul>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="transferReason">Medical Reason for Transfer</label>
                    <input type="text" class="form-control" id="transferReason" ng-model="openPatient.Reason" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Patient Demographics</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="patientName">Name</label>
                    <input type="text" class="form-control" id="patientName" ng-model="openPatient.Name" >
                  </div>
                  <div class="form-group">
                    <div class="dropdown">
                      <a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown">
                        <div class="input-group">
                          <span class="input-group-addon">DOB</span>
                          <input type="text" class="form-control calendar-input" data-ng-model="localPatient.DOB"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="localPatient.DOB" data-on-set-time="calculateAge()" data-datetimepicker-config="{ dropdownSelector: '#dropdown5', startView:'day', minView:'day' }"/>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="patientAge">Age</label>
                    <input type="number" class="form-control" id="patientAge" ng-model="openPatient.Age" >
                  </div>
                  <div class="form-group">
                    <label for="patientGender">Gender</label>
                      <select class="form-control" id="patientGender" ng-model="openPatient.GenderId" ng-options="gender.GUID as gender.Code for gender in genderOptions" ></select>
                  </div>
                  <div class="form-group">
                    <label for="patientPCP">PCP</label>
                    <input type="text" class="form-control" id="patientPCP" ng-model="openPatient.PCP" >
                  </div><div class="form-group">
                    <label for="patientBedType">Current Bed Type</label>
                    <select class="form-control" id="patientBedType" ng-model="openPatient.BedType">
                      <option>Inpatient</option>
                      <option>ER</option>
                      <option>Clinic/UTC</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Referring Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="referringName">Name</label>
                    <input type="text" id="referringName" class="form-control" ng-model="openPatient.ReferringName" >
                  </div>
                  <div class="form-group ng-class:phoneError;">
                    <label for="referringPhone">Phone</label>
                    <input type="text" id="referringPhone" class="form-control" ng-blur="phoneValidation($event.target.value)" ng-model="openPatient.ReferringPhone" >
                    <span class="ng-class:phoneFeedback;"></span>
                  </div>
                  <div class="form-group">
                    <label for="referringCity">City</label>
                    <input type="text" id="referringCity" class="form-control" ng-model="openPatient.ReferringCity" >
                  </div>
                  <div class="form-group">
                    <label for="referringHospital">Hospital</label>
                    <input type="text" id="referringHospital" class="form-control" ng-model="openPatient.ReferringHospital" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <label>Referring Expectation</label>
                <label class="checkbox-inline" ng-repeat="expectationName in ReferringExpectations">
                  <input
                    type="checkbox"
                    name="selectedExpectations[]"
                    value="{{expectationName}}"
                    ng-checked="openPatient.ReferringExpectations.indexOf(expectationName) > -1"
                    ng-click="toggleSelection(expectationName)"
                  > {{expectationName}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">UK ED Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                    <div class="form-group">
                      <label for="ukTransport">Mode of Transport</label>
                      <select class="form-control" id="ukTransport" ng-model="openPatient.Transport">
                        <option>Ground</option>
                        <option>Air</option>
                        <option>Private Vehicle</option>
                        <option>Other</option>
                      </select>
                    </div>
                    <label for="ukAcceptingMD">Accepting MD</label>
                    <div class="form-group">
                      <div angucomplete-alt id="ex1"
                        placeholder="Search Providers"
                        maxlength="50"
                        pause="100"
                        selected-object="providerSelected"
                        local-data="careProviderOptions"
                        search-fields="ProviderDisplayName"
                        title-field="ProviderDisplayName"
                        minlength="1"
                        input-class="form-control form-control-large"
                        match-class="highlight"
                        initial-value="providerSelectedInitial"></div>
                    </div>
                    <div class="form-group">
                      <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                          <div class="input-group">
                            <span class="input-group-addon">Expected Arrival</span>
                            <input type="text" class="form-control calendar-input" data-ng-model="openPatient.ExpectedDtm"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="openPatient.ExpectedDtm" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                      </div>
                  </div>
                    <div class="form-group">
                      <label for="ukLocation">ED Room Number</label>
                        <select class="form-control" id="patientLocation" ng-model="openPatient.LocationId" ng-options="location.GUID as location.Name for location in locationOptions" ></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="visitMRN">MRN</label>
                      <input type="text" class="form-control" id="visitMRN" ng-model="localPatient.MRN" ng-change="visitID()">
                    </div>
                    <span class="label" ng-class="{'label-success': localPatient.MRNMatch, 'label-danger': !localPatient.MRNMatch}">{{localPatient.MRNMatch ? 'Successfully Validated' : 'Requires Validation'}}</span>
                    <div class="form-group">
                      <label for="visitID">Visit ID</label>
                      <input type="text" class="form-control" id="visitID" ng-model="localPatient.VisitId" ng-change="visitID()">
                    </div>
                    <span class="label" ng-class="{'label-success': localPatient.VisitIDMatch, 'label-danger': !localPatient.VisitIDMatch}">{{localPatient.VisitIDMatch ? 'Successfully Validated' : 'Requires Validation'}}</span>
                    <div class="form-group">
                      <label for="ukComments">Comments</label>
                      <input type="text" class="form-control" id="ukComments" ng-model="openPatient.Comment" >
                    </div>
                    <div class="form-group">
                      <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                          <div class="input-group">
                            <span class="input-group-addon">Arrival Time</span>
                            <input type="text" class="form-control calendar-input" data-ng-model="openPatient.ArrivalDtm"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="openPatient.ArrivalDtm" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Nurse Report</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="chiefComplaint">Chief Complaint</label>
                        <input type="text" class="form-control" id="chiefComplaint" ng-model="openPatient.ChiefComplaint">
                    </div>
                    <div class="form-group">
                      <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
                          <div class="input-group">
                            <span class="input-group-addon">Report Time</span>
                            <input type="text" class="form-control calendar-input" data-ng-model="openPatient.ReportDtm"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="openPatient.ReportDtm" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }"/>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="heartRate">HR</label>
                      <input type="number" class="form-control" id="heartRate" ng-model="openPatient.HeartRate" min="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="systolicBP">BP</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="systolicBP" ng-model="openPatient.SystolicPressure" min="0">
                        <div class="input-group-addon">/</div>
                        <input type="number" class="form-control" id="diastolicBP" ng-model="openPatient.DiastolicPressure" min="0">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="respiratoryRate">RR</label>
                      <input type="number" class="form-control" id="respiratoryRate" ng-model="openPatient.RespiratoryRate" min="0">
                    </div>
                    <div class="form-group">
                      <label for="TemperatureF">Temp</label>
                      <div class="input-group">
                      <input type="number" class="form-control" id="TemperatureF" ng-model="openPatient.TemperatureF" min="0">
                      <div class="input-group-addon">&#x2109;</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="OxygenSaturation">SaO2</label>
                    <input type="number" class="form-control" id="OxygenSaturation" ng-model="openPatient.OxygenSaturation" min="0">
                  </div>
                  <div class="form-group">
                    <label for="GCS">GCS</label>
                    <input type="text" class="form-control" id="GCS" ng-model="openPatient.GlasgowComaScale">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="allergies">Allergies</label>
                    <input type="text" class="form-control" id="allergies" ng-model="openPatient.Allergy">
                  </div>
                  <div class="form-group">
                    <label for="medications">Medications Given</label>
                    <input type="text" class="form-control" id="medications" ng-model="openPatient.Medication">
                  </div>
                  <div class="form-group">
                    <label for="access">Access</label>
                    <input type="text" class="form-control" id="access" ng-model="openPatient.Access">
                  </div>
                  <div class="form-group">
                    <label for="IntakeOutput">I&O</label>
                    <input type="text" class="form-control" id="IntakeOutput" ng-model="openPatient.IntakeOutput">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group nurse-report">
                    <label for="NurseReport">Report</label>
                    <textarea class="form-control" id="NurseReport" ng-model="openPatient.NurseReport"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Provider Report</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group patient-information">
                    <label for="patientInformation">Summary, Medical History</label>
                    <textarea class="form-control" id="patientInformation" ng-model="openPatient.Summary"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pre>{{openPatient | json}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" ng-hide="editing===false" class="btn pull-left" ng-class="{'btn-danger': openPatient.Active, 'btn-success': !openPatient.Active}" ng-click="togglePatient(openPatient)" data-dismiss="modal">{{openPatient.Active ? 'Patient No Longer Active' : 'Mark Patient as Active'}}</button>
        <button type="button" class="btn btn-success" ng-show="(openPatient.VisitId != 0 && openPatient.VisitId != null) && (openPatient.ClientId !=0 && openPatient.ClientId != null)" ng-click="sendSCM(openPatient)">Send to SCM</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="savePatient(openPatient)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
