<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Expected Patients" ng-model="searchExpected">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="form-group">
        <select class="form-control" ng-model="searchLocation">
          <option disabled value="">Search Locations</option>
          <option value="">All Locations</option>
          <option value="Good Samaritan">Good Samaritan</option>
          <option value="Chandler ED">Chandler ED</option>
        </select>
      </div>
    </div>
  <div class="col-lg-2 col-md-4 col-sm-12 pull-right">
    <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#editPatientModal" ng-click="newPatient()">Add New Patient
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
<table class="table table-hover table-bordered table-striped table-responsive">
  <th>
    Name
  </th>
  <th>
    Date of Birth
  </th>
  <th>
    Arriving From
  </th>
  <th>
    Expected Date/Time
  </th>
  <th>
    Complaint
  </th>
  <th>
    Physician
  </th>
  <th>
    Room
  </th>
  <th>
    Comments
  </th>
  <th></th>
  <tr ng-repeat="patient in expectedPatients | orderBy:'Name' | filter:searchExpected | filter:searchLocation | filter:patient.Active track by $index">
    <td>{{ patient.Name }}</td>
    <td>{{ patient.DOB | date:'shortDate'}}</td>
    <td>{{ patient.ArrivalFrom }}</td>
    <td>{{ patient.ExpectedDtm  | date:'short'}}</td>
    <td>{{ patient.ChiefComplaint}}</td>
    <td>{{ patient.PCP}}</td>
    <td>{{ patient.LocationId}}</td>
    <td>{{ patient.Comment}}</td>
    <td class="edit-column">
      <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editPatientModal" ng-click="editPatient(patient)">
          Edit
      </button> -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editPatientModal" ng-click="editPatient(patient)">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
</div>
</div>

<div class="footer">
  <div class="container">
    <p class="text-center"><span class="glyphicon glyphicon-copyright-mark"></span> {{today | date: "y"}} UK HealthCare Information Technology Web Team</p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Record for {{openPatient.Name}}</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-primary">
          <div class="panel-heading">Call Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="callStartDate">Date</label>
                    <input type="date" class="form-control" id="callStartDate" ng-model="localPatient.CallStartDate">
                  </div>
                  <div class="form-group">
                    <label for="callStartTime">Start Time</label>
                    <input type="time" class="form-control" id="callStartTime" ng-model="localPatient.CallStartTime">
                  </div>
                  <div class="form-group">
                    <label for="callEndDate">End Date</label>
                    <input type="date" class="form-control" id="callEndDate" ng-model="localPatient.CallEndDate">
                  </div>
                  <div class="form-group">
                    <label for="callEndTime">End Time</label>
                    <input type="time" class="form-control" id="callEndTime" ng-model="localPatient.CallEndTime">
                  </div>
                  <div class="form-group">
                    <label for="callType">Type</label>
                    <select class="form-control" id="callType" ng-model="openPatient.Type">
                      <option>Transfer</option>
                      <option>Something Else</option>
                      <option>Another Thing</option>
                      <option>One Last Thing</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="consultType">Consult Type</label>
                    <select class="form-control" id="consultType" ng-model="openPatient.ConsultType">
                      <option>Ortho</option>
                      <option>Neuro</option>
                      <option>Another Thing</option>
                      <option>One Last Thing</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="disposition">Disposition</label>
                    <select class="form-control" id="disposition" ng-model="openPatient.Disposition">
                      <option>Admit</option>
                      <option>Something Else</option>
                      <option>Another Thing</option>
                      <option>One Last Thing</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="faceSheet">Face Sheet Requested</label>
                      <select class="form-control" id="faceSheet" ng-model="openPatient.FaceSheet">
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="faxEKG">Fax EKG's</label>
                      <select class="form-control" id="faxEKG" ng-model="openPatient.FaxEKG">
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="nurse">RN/Chg Name</label>
                      <input type="text" class="form-control" id="nurse" ng-model="openPatient.Nurse" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 form-row">
                  <div>
                    <div class="form-group">
                      <label for="agents">Agent(s)</label>
                      <tags-input id="agents" ng-model="Agents" replace-spaces-with-dashes="false" placeholder="Add an Agent"></tags-input>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Referring Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="referringName">Name</label>
                    <input type="text" id="referringName" class="form-control" ng-model="openPatient.ReferringName" >
                  </div>
                  <div class="form-group">
                    <label for="referringCity">City</label>
                    <input type="text" id="referringCity" class="form-control" ng-model="openPatient.ReferringCity" >
                  </div>
                  <div class="form-group ng-class:phoneError;">
                    <label for="referringPhone">Phone</label>
                    <input type="text" id="referringPhone" class="form-control" ng-blur="phoneValidation($event.target.value)" ng-model="openPatient.ReferringPhone" >
                    <span class="ng-class:phoneFeedback;"></span>
                  </div>
                  <div class="form-group">
                    <label for="referringHospital">Hospital</label>
                    <input type="text" id="referringHospital" class="form-control" ng-model="openPatient.ReferringHospital" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <label>Referring Expectation</label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="referringExpectations1" value="Admission" ng-true-value="'Admission'" ng-false-value="null" ng-model="openPatient.ReferringExpectations[0]"> Admission
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="referringExpectations2" value="Work-Up" ng-true-value="'Work-Up'" ng-false-value="null" ng-model="openPatient.ReferringExpectations[1]"> Work-Up
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="referringExpectations3" value="UK Physician/Clinic" ng-true-value="'UK Physician/Clinic'" ng-false-value="null" ng-model="openPatient.ReferringExpectations[2]"> UK Physician/Clinic
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="referringExpectations4" value="External Referring" ng-true-value="'External Referring'" ng-false-value="null" ng-model="openPatient.ReferringExpectations[3]"> External Referring
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Patient Demographics</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="patientName">Name</label>
                    <input type="text" class="form-control" id="patientName" ng-model="openPatient.Name" >
                  </div>
                  <div class="form-group">
                    <label for="patientDOB">DOB</label>
                    <input type="date" class="form-control" id="patientDOB" ng-blur="calculateAge()" ng-model="localPatient.DOB">
                  </div>
                  <div class="form-group">
                    <label for="patientPCP">PCP</label>
                    <input type="text" class="form-control" id="patientPCP" ng-model="openPatient.PCP" >
                  </div>
                  <div class="form-group">
                    <label for="patientAge">Age</label>
                    <input type="number" class="form-control" id="patientAge" ng-model="openPatient.Age" >
                  </div>
                  <div class="form-group">
                    <label for="patientGender">Gender</label>
                      <select class="form-control" id="patientGender" ng-model="openPatient.GenderId" ng-options="gender.GUID as gender.Code for gender in genderOptions" ></select>
                  </div>
                  <div class="form-group">
                    <label for="patientInsurance">Insurance</label>
                    <input type="text" class="form-control" id="patientInsurance" ng-model="openPatient.Insurance" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="patientTravel">Traveled Abroad</label>
                    <select class="form-control" id="patientTravel" ng-model="openPatient.TraveledAbroad">
                      <option value=true ng-selected="openPatient.TraveledAbroad===true">Yes</option>
                      <option value=false ng-selected="openPatient.TraveledAbroad===false">No</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="patientInfection">Nonsocomial Infection</label>
                    <select class="form-control" id="patientInfection" ng-model="openPatient.NosocomialInfection">
                      <option value=true ng-selected="openPatient.NosocomialInfection===true">Yes</option>
                      <option value=false ng-selected="openPatient.NosocomialInfection===false">No</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="patientCode">Code</label>
                    <input type="text" class="form-control" id="patientCode" ng-model="openPatient.Resuscitation" >
                  </div>
                  <div class="form-group">
                    <label for="patientLocation">Location</label>
                      <select class="form-control" id="patientLocation" ng-model="openPatient.LocationId" ng-options="location.GUID as location.Name for location in locationOptions" ></select>
                  </div>
                  <div class="form-group">
                    <label for="bedType">Bed Type</label>
                    <input type="text" class="form-control" id="bedType" ng-model="openPatient.BedType" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">UK ED Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                    <div class="form-group">
                      <label for="ukTransport">Mode of Transport</label>
                      <select class="form-control" id="ukTransport" ng-model="openPatient.Transport">
                        <option>Ambulance</option>
                        <option>Helicopter</option>
                      </select>
                    </div>
                    <!-- <div class="form-group">
                      <label for="ukAcceptingMD">Accepting MD</label>
                        <select class="form-control" id="ukAcceptingMD" ng-model="openPatient.AcceptingProviderId" ng-options="provider.GUID as provider.DisplayName for provider in careProviderOptions" ></select>
                    </div> -->
                    <label for="ukAcceptingMD">Accepting MD</label>
                    <div class="form-group">
                      <div angucomplete-alt id="ex1"
                        placeholder="Search Providers"
                        maxlength="50"
                        pause="100"
                        selected-object="providerSelected"
                        local-data="careProviderOptions"
                        search-fields="ProviderDisplayName"
                        title-field="ProviderDisplayName"
                        minlength="1"
                        input-class="form-control form-control-large"
                        match-class="highlight"
                        initial-value="providerSelectedInitial"></div>
                    </div>
                    <div class="form-group">
                      <label for="ukETA">Expected Arrival</label>
                      <input type="datetime-local" class="form-control" id="ukETA" ng-model="openPatient.ExpectedDtm" >
                    </div>
                    <div class="form-group">
                      <label for="ukArrivalTime">Arrival Time</label>
                      <input type="datetime-local" class="form-control" id="ukArrivalTime" ng-model="openPatient.ArrivalDtm" >
                    </div>
                    <div class="form-group">
                      <label for="visitID">Visit ID</label>
                      <input type="text" class="form-control" id="visitID" ng-model="openPatient.VisitIDCode" ng-blur="visitID()">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="ukLocation">ED Room Number</label>
                        <select class="form-control" id="patientLocation" ng-model="openPatient.EDLocationId" ng-options="location.GUID as location.Name for location in locationOptions" ></select>
                    </div>
                    <div class="form-group">
                      <label for="bedType">Bed Type</label>
                      <input type="text" class="form-control" id="bedType" ng-model="openPatient.BedType" >
                    </div>
                    <div class="form-group">
                      <label for="ukComments">Comments</label>
                      <input type="text" class="form-control" id="ukComments" ng-model="openPatient.Comment" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Nurse Report</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="chiefComplaint">Chief Complaint</label>
                        <input type="text" class="form-control" id="chiefComplaint" ng-model="openPatient.ChiefComplaint">
                    </div>
                    <div class="form-group">
                      <label for="reportTime">Report Time</label>
                      <input type="datetime-local" class="form-control" id="reportTime" ng-model="openPatient.ReportDtm" >
                    </div>
                    <div class="form-group">
                      <label for="heartRate">HR</label>
                      <input type="number" class="form-control" id="heartRate" ng-model="openPatient.HeartRate" min="0">
                    </div>
                    <div class="form-group">
                      <label for="systolicBP">BP</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="systolicBP" ng-model="openPatient.SystolicPressure" min="0">
                        <div class="input-group-addon">/</div>
                        <input type="number" class="form-control" id="diastolicBP" ng-model="openPatient.DiastolicPressure" min="0">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="respiratoryRate">RR</label>
                      <input type="number" class="form-control" id="respiratoryRate" ng-model="openPatient.RespiratoryRate" min="0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-row">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="TemperatureF">Temp</label>
                      <div class="input-group">
                      <input type="number" class="form-control" id="TemperatureF" ng-model="openPatient.TemperatureF" min="0">
                      <div class="input-group-addon">&#x2109;</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="OxygenSaturation">SaO2</label>
                    <input type="number" class="form-control" id="OxygenSaturation" ng-model="openPatient.OxygenSaturation" min="0">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group nurse-report">
                    <label for="NurseReport">Report</label>
                    <textarea class="form-control" id="NurseReport" ng-model="openPatient.NurseReport"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Patient Information</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 form-row">
                <div class="form-inline">
                  <div class="form-group patient-information">
                    <label for="patientInformation">Summary, Medical History</label>
                    <textarea class="form-control" id="patientInformation" ng-model="openPatient.Summary"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pre>{{openPatient | json}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" ng-hide="editing===false" class="btn btn-danger pull-left" ng-click="deletePatient(openPatient)" data-dismiss="modal">Patient No Longer Active</button>
        <button type="button" class="btn btn-success" ng-show="openPatient.ChartGUID != 0 && openPatient.ClientGUID !=0 && openPatient.VisitGUID !=0" ng-click="sendSCM(openPatient)">Send to SCM</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="savePatient(openPatient)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
